{{#if phoneData}}
<div>
<a href="/phones/{{id}}"><h1>{{name}}</h1></a>
<img src="../assets/images/{{imageFileName}}"/>
<p>Manufacturer: {{manufacturer}}</p>
<div>Description: {{description}}</div>
<p>Color: {{color}}</p>
<p>Screen Size: {{screen}}</p>
<p>Processor: {{processor}}</p>
<p>Ram: {{ram}}GB</p>
<p>Price: {{price}}</p>
<a href="/phones">Back</a>
</div>
{{/if}}